body {
  background-color: #304b5d;
  /* background-color: rgb(210, 120, 84) !important; */
}

img {
  object-fit: contain !important;
}

.ant-modal .ant-modal-content {
  background-color: #304b5d !important;
}

Table {
  font-weight: 600;
}

thead>tr>td {
  background-color: #4b6678 !important;
}

thead>tr>th.ant-table-cell:has(div.teamName) {
  background-color: #4b6678;
  color: #ededed;
}

thead>tr>th.ant-table-cell:has(div.equipo) {
  background-color: #9cc0ae !important;
}

tbody>tr>td.ant-table-cell:has(div.equipo) {
  background-color: #9cc0ae !important;
}

thead>tr>th.ant-table-cell:has(div.rival) {
  background-color: #d27878 !important;
}

tbody>tr>td.ant-table-cell:has(div.rival) {
  background-color: #d27878 !important;
}

thead>tr>th.ant-table-cell:has(div.total) {
  background-color: #c9c9c9 !important;
}

tbody>tr.total>td {
  background-color: #c9c9c9 !important;
}

tbody>tr>td.ant-table-cell:has(div.total) {
  background-color: #c9c9c9 !important;
}

/* HOME ---------- */

thead>tr>th.ant-table-cell:has(div.home) {
  background-color: #a5c9e4 !important;
}

tbody>tr>td.ant-table-cell:has(div.home) {
  background-color: #a5c9e4 !important;
}

tbody>tr.home>td {
  background-color: #a5c9e4 !important;
}

tbody>tr.home>th {
  background-color: #a5c9e4 !important;
}

/* AWAY ---------- */
thead>tr>th.ant-table-cell:has(div.away) {
  background-color: #e4c0a5 !important;
}

tbody>tr>td.ant-table-cell:has(div.away) {
  background-color: #e4c0a5 !important;
}

tbody>tr.away>td {
  background-color: #e4c0a5 !important;
}

tbody>tr.away>th {
  background-color: #e4c0a5 !important;
}

/* ------------------------------ */

tr .ant-table-cell:has(div.victoria) {
  background-color: #5dc081 !important;
}

tr .ant-table-cell:has(div.empate) {
  background-color: #b7b7b7 !important;
}

tr .ant-table-cell:has(div.derrota) {
  background-color: #d25d5d !important;
}

/* CARD -----------------------------------*/
.customCard {
  background: none;
  box-shadow: none;
  border: none;
  border-radius: 0px;
}

.customCard .ant-card-body {
  padding: 8px;
}

th.ant-table-cell:has(div.customCard) {
  padding: 0px !important;
}

/* --------------------------------------- */

.ant-table-tbody .ant-table-row.ant-table-row-selected>.ant-table-cell {
  background-color: #70c98a !important;
}

.ant-table-tbody>.ant-table-row.ant-table-row-selected2>.ant-table-cell {
  background-color: #ff9c54 !important;
}

.customTable Table>tbody>tr>td {
  background-color: #69738d !important;
}

.customTable Table>tbody>tr>th {
  background-color: #5c698a !important;
  color: #ededed !important;
}

/* CANCHA --------------------------------- */

tbody:has(tr.rotated) {
  transform: rotate(180deg);
}

.rotated th {
  transform: rotate(180deg);
}

tbody tr.backgroundLocal .ant-table-cell {
  background-color: #5da575 !important;
}

tbody tr.backgroundVisita .ant-table-cell {
  background-color: #81789c !important;
}

th:has(div.none) {
  padding: 0px !important;
}